---
const { frontmatter } = Astro.props;

import Layout from "./Layout.astro";
---

<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <p>投稿日: {frontmatter.pubDate.slice(0, 10)}</p>
  <p>著者: {frontmatter.author}</p>
  <div class="tags">
    {
      frontmatter.tags.map((tag: string[]) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <slot />
</Layout>
